[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/nuft/ChibiOS.git
[submodule "src/crc"]
	path = src/crc
	url = https://github.com/cvra/crc.git
[submodule "src/serial-datagram"]
	path = src/serial-datagram
	url = https://github.com/Stapelzeiger/serial-datagram.git
